{% extends 'base.html' %}

{% block title %}Edit{% endblock title %}

{% block body %}
{% for i in messages  %}
<script>
    alertify.set('notifier','position', 'top-center');
    var delay = alertify.get('notifier','delay');
 alertify.set('notifier','delay', 2);
 alertify.success('{{i}}');
 alertify.set('notifier','delay', delay);

</script>

{% endfor %}
<form action="" method="post">
    {% csrf_token %}
    
<div class="col-6">
    <label for="inputState" class="form-label">Full Name</label>
    <input type="text" name="name" class="form-control"  aria-label="First name" value="{{data.name}}">
  </div><br>

  <div class="col-6">
    <label for="inputState" class="form-label">Phone</label>
    <input type="number" name="phone" class="form-control" aria-label="First name" value="{{data.phone}}">
  </div><br>

  <div class="col-6">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" name="address" class="form-control" id="inputAddress" value="{{data.address}}">
  </div><br>

  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" name="city" class="form-control" id="inputCity" value="{{data.city}}">
  </div><br>

  <div class="col-md-6">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" name="state" class="form-select" value="{{data.state}}">
      <option selected>India</option>
      <option>UK</option>
      <option>Pakistan</option>
      <option>Bangladesh</option>
      <option>russia</option>
    </select>
  </div><br>

  <div class="col-md-6">
    <label for="inputZip" class="form-label">PinCod</label>
    <input type="text" name="pincod" class="form-control" id="inputZip" value="{{data.pincode}}">
  </div><br>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endblock body %}